.createSellingPage
  .section
    width: 100%
    h2
      font-size: 18px
      font-family: "Karla", sans-serif
    .input, .textarea
      border: none
      color: #C4C4C4
      background-color: #fff
      width: 100%
      height: 40px
      padding: 10px
      border-radius: 16px
    .textarea
      height: 200px

  .formCreateSelling
    position: relative

  .whiteBgc
    background-color: #faf7f7
    padding: 20px
    padding-bottom: 160px

  .btnSubmitContainer
    position: fixed
    bottom: 0
    left: 0
    right: 0
    border-radius: 16px 16px 0 0
    background: #fff
    padding: 16px
    .submitBtn
      width: 100%
      margin: 0

  .addPhotoContainer
    height: 80px
    min-width: 80px
    border: 2px dashed #2C5CF6
    border-radius: 16px
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    .icon
      height: 30px
      width: auto

  .photosContainer
    display: flex
    overflow: scroll
    padding: 10px 0
    .photoItem
      position: relative
      background-color: #fff
      border-radius: 16px
      display: flex
      align-items: center
      margin: 0 10px
      min-width: 80px
      justify-content: center
      .deleteImg
        position: absolute
        right: -5px
        top: -5px
        background-color: #fff
        height: 20px
        width: 20px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
      img
        max-height: 50px


  input[type="file"]
    display: none

.tabs
  background-color: #e5e5e5
  height: 40px
  display: flex
  justify-content: space-between
  align-items: center
  border-radius: 16px
  button
    border-radius: 16px
    height: 100%
    border: none
    padding: 10px
    width: 48%
    background-color: #e5e5e5
    &.activeTab
      background-color: #ffffff
