.is-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 40px 16px 10px;
}

.is-header__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}

.is-header__children {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.is-header__button {
  position: relative;
  font-size: 22px;
  color: $primary;
  transition: 0.2s;
  padding: 0 12px;

  &:last-child {
    padding-right: 0;
  }

  &:active {
    transform: scale(1.1);
  }
}

.is-header__label {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: #2c5cf6;
  border-radius: 50%;
  color: $white;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
