.notification-wrapper {
  padding: 16px;
}

.notification {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: $white;
}

.notification-time {
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  color: #9795a6;
}
.notification-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.notification-good {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #9795a6;
}
