@import "normalize";
@import "fonts";
@import "variables";
@import "nav";
@import "layout";
@import "createSellingPage";
@import "deals";
@import "checkoutPage";
@import "categories";
@import "products";
@import "input";

@media screen and (min-width: 500px) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  body {
    width: 100%;
    height: 100%;
    min-height: 812px;
    // max-height: 900px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #faf7f7;
  max-width: 414px;
  margin: 0 auto;
}

#root {
  overflow-x: hidden;
}

.inputError {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
input,
textarea {
  color: #000000;
}
::placeholder {
  color: #9795a6;
}

.submitBtnSelling {
  position: absolute;
  bottom: 0;
  margin: 15px auto;
  background: #2c5cf6;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Bebas Neue;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 20px;
  border: none;
  text-align: center;
  width: 90%;
  border-radius: 15px;
  padding: 15px;
}

.whiteBgc {
  background-color: #e5e5e5;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
