@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import "normalize";
@import "variables";
@import "nav";
@import "createSellingPage";

body {
  font-family: "Open Sans", sans-serif;
  padding: 15px 0;
  background-color: #faf7f7;
}
.inputError {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
}

.submitBtn {
  margin: 15px auto;
  background-color: #c3c3c3;
  border: none;
  text-align: center;
  width: 95%;
  border-radius: 15px;
  padding: 15px;
  font-weight: bold;
}

.whiteBgc {
  background-color: #fff;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
