@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import 'normalize';
@import 'variables';
@import 'nav';

body {
  font-family: 'Open Sans', sans-serif;
}
